@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MiriamLibre";
  src: url("/fonts/MiriamLibre-Regular.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #4B5B33;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #4B5B33;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped { 
  transform: rotateY(180deg); 
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
