@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MiriamLibre";
  src: url("/fonts/MiriamLibre-Regular.ttf");
  font-style: "normal";
  font-weight: "normal";
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #4B5B33;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #4B5B33;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
